.content_article {
     height: 100%;
    -webkit-background-size: cover;
     background-size: cover;
     background-repeat: no-repeat;
     background-position: center center;
     color: #fff;
     text-align: center;
     position: relative;
 }

.content-intro {
    background-image: url(./images/tree.jpg);
}

.content-middle {
    background-image: url(./images/sudi.JPG);
}

.content_end {

}